- board = local_assigns.fetch(:board, nil)
- @no_breadcrumb_container = true
- @no_container = true
- @content_class = "issue-boards-content js-focus-mode-board"
- breadcrumb_title "Issue Boards"
- page_title "Boards"

- add_to_breadcrumbs("Issues", @issues_path)

- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'common_vue'
  = webpack_bundle_tag 'filtered_search'
  = webpack_bundle_tag 'boards'

  %script#js-board-template{ type: "text/x-template" }= render "shared/boards/components/board"
  %script#js-board-modal-filter{ type: "text/x-template" }= render "shared/issuable/search_bar", type: :boards_modal
  %script#js-board-promotion{ type: "text/x-template" }= render "shared/promotions/promote_issue_board"

- if @group
  = render "groups/head_issues"
- else
  = render "projects/issues/head"

.hidden-xs.hidden-sm
  = render 'shared/issuable/search_bar', type: :boards, board: board

#board-app.boards-app{ "v-cloak" => true, data: board_data }
  .boards-list{ ":class" => "{ 'is-compact': detailIssueVisible }" }
    .boards-app-loading.text-center{ "v-if" => "loading" }
      = icon("spinner spin")
    %board{ "v-cloak" => true,
      "v-for" => "list in state.lists",
      "ref" => "board",
      ":list" => "list",
      ":disabled" => "disabled",
      ":issue-link-base" => "issueLinkBase",
      ":root-path" => "rootPath",
      ":board-id" => "boardId",
      ":key" => "_uid" }
  = render "shared/boards/components/sidebar"
  - if @project
    %board-add-issues-modal{ "blank-state-image" => render('shared/empty_states/icons/issues.svg'),
      "new-issue-path" => new_project_issue_path(@project),
      "milestone-path" => milestones_filter_dropdown_path,
      "label-path" => labels_filter_path,
      ":issue-link-base" => "issueLinkBase",
      ":root-path" => "rootPath",
      ":project-id" => @project.try(:id) }
